body {
    background-color: linen;
    padding-left: 30px;
    
}

html{
    scroll-behavior: smooth;
}

header {
    text-align: center;
}

h1 {
    color: rgb(113, 23, 23);
    width: 100%;
    text-align: center;
    
    
}

#home, #home:hover, #home:visited, #home:active {
    color: rgb(113, 23, 23);
    text-decoration: none;
}


a {
    text-decoration: none;
}

a :visited {
    text-decoration: none;
    
}

h2 {
    color: rgb(113, 23, 23);
    width: 100%;
    text-align: center;
    text-decoration: underline;
}

h2 > a, a:hover, a:visited, a:active {
    color: rgb(113, 23, 23);
    text-decoration: none;
}


h3::first-letter {
    color: rgb(113, 23, 23);
    font-size: 130%;
}

li {
    line-height: 1.5;
    padding-left: 10px;
    width: 85%;
}

footer {
    text-align: left;
    padding-bottom: 10px;
    padding-top: 30px;
}

#use_note {
    font-style: italic;
    text-align: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#home {
    text-decoration: none;
}

.alphabet {
    list-style-type: none;
    margin:50px auto 0;
    padding:0;
    padding-bottom: 40px;
    cursor: pointer;
    width:80%;
    text-align:center;
    display: inline;
}

.alphabet li {
    float:left;
    margin:0;
    padding:0;
    border-right:1px solid darkgrey;
    font-size: 13px;
    -moz-box-sizing:border-box;
    color:black;
    display:inline-block;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    width:3.84%;
}

.alphabet li:last-child {
    border-right: none;
}

.alphabet li:hover {
    color:rgb(113, 23, 23);
    background-color: lightgrey;
}

.menu-container {
    display: inline-flex;
    padding: 10px;
    width: 100%;
    text-align: center;
    
}

#mass-propers, #mass-ordinaries, #other-links {
    width: 21%;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.link:hover {
    background-color: rgb(113, 23, 23);
    color: rgb(226, 225, 223);
    border-radius: 40%;
}

#main-div h3 {
  padding-left: 5%;
}

#main-div ul {
    padding-left: 10%;
}

.chant-div {
    width: 100%;
    padding-bottom: 30px;
}

.english-div {
    width: 100%;
    padding-bottom: 30px;
}

.documents-div {
    width: 100%;
    padding-bottom: 30px;
}


@media (max-width: 600px) {
    #alphabet1 {
        width: 100%;
        display: block;
        padding-left: 25%;
        padding-right: 25%;
    
    }
    #alphabet2 {
        width: 100%;
        display: block;
        padding-left: 25%;
        padding-right: 25%;
    }

    .menu-container {
        width: 100%;
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-left: 25%;
        padding-right: 25%;
        white-space: nowrap;
        
        
    }
        
    }

